<div class="mx-5">
    <h3 class="fw-bolder text-gray-900 mb-10 mx-0">Admin-Menü</h3>
    <div class="d-flex align-items-center me-2">
        <div class=" notice d-flex bg-light-danger rounded border-danger border border-dashed mb-9 p-6">
            <div class="d-flex flex-stack flex-grow-1">
                <div class="fw-bold">
                    <h4 class="text-gray-800 fw-bolder">
                        Prio 2: Hier kommt das Admin-Menü
                    </h4>
                    <div class="fs-6 text-gray-600">
                        Übersicht aller Kunden, Anfragen, Versorger usw.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
