<ng-container *ngIf="(messlokationen$) | async; else loading">
    <div class="d-flex flex-wrap flex-stack mb-6">
      <h3 class="fw-bolder my-2">
        Messlokationen
      </h3>

      <div class="d-flex flex-wrap my-2">
        <a class="btn btn-primary btn-sm cursor-pointer" routerLink="/messlokation-anlegen">
            <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'" class="svg-icon svg-icon-3"></span>
            Weitere Messlokation hinzufügen
        </a>
      <a class="btn btn-secondary btn-sm cursor-pointer" data-bs-toggle="modal" data-bs-target="#kt_modal_1">
          CSV-Import
      </a>
      </div>
    </div>

    <div class="row g-6 g-xl-9">
        <ng-container *ngFor="let messlokation of messlokationen$ | async">
          <div class="col-md-6 col-xl-4">
            <app-lieferstellen-card
                id={{messlokation.id}}
                icon="./assets/media/svg/brand-logos/plurk.svg"
              melo={{messlokation.melo}}
              plz={{messlokation.plz}}
              stadt={{messlokation.stadt}}
              strasse={{messlokation.strasse}}
              hausnummer={{messlokation.hausnummer}}
              jahresverbrauch_kWh={{messlokation.jahresverbrauch_kWh}}
              spitzenlast_kW={{messlokation.spitzenlast_kW}}
              profil={{messlokation.profil}}
              [fortschritt]=messlokation.fortschritt
              status={{messlokation.status}}
              farbe={{messlokation.style}}
            ></app-lieferstellen-card>
          </div>
        </ng-container>
    </div>
</ng-container>
<ng-template #loading>
    <div>Loading...</div>
</ng-template>
