# IDE
.idea/

# Infrastruktur-Runtimes
infrastructure-hasemato/.terraform/
infrastructure-stromify-stage/.terraform/


# Installation, Dependencies, Packages, Runtimes
.angular/
node_modules
package-lock.json