<!-- begin::Header -->

<div class="card card-xl-stretch- mb-xl-8">
<div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
        <span class="card-label fw-bolder fs-3 mb-1">Anfragenübersicht</span>
        <span class="text-muted mt-1 fw-bold fs-7">[$. Anzahl Anfragen]</span>
    </h3>
    <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover" title="Click to add a user">
        <a class="btn btn-sm btn-light-primary" [routerLink]="['/anfrage-anlegen/']"><span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'" class="svg-icon svg-icon-3"></span>
            Neue Anfrage
        </a>
    </div>
</div>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
        <!-- begin::Table -->
        <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
            <!-- begin::Table head -->
            <thead>
                <tr class="fw-bolder text-muted">
                    <th class="min-w-150px">Anfragebezeichnung</th>
                    <th class="min-w-140px">Firma</th>
                    <th class="min-w-120px">Lieferbeginn</th>
                    <th class="min-w-120px">Status</th>
                    <th class="min-w-100px text-end">Schnellaktion</th>
                </tr>
            </thead>
            <!-- end::Table head -->
            <!-- begin::Table body -->
            <tbody>
            <tr *ngFor="let anfrage of anfragen$ | async">
                <td>
                    <a class="text-gray-900 fw-bolder text-hover-primary d-block fs-6" [routerLink]="['/anfrage-anzeigen/' + anfrage.anfrageID + '/anfrageparameter']">
                        {{ anfrage.anfrageBezeichnung}}
                    </a>
                </td>

                <td>
                    <div class="d-flex align-items-center">
                        <div class="symbol symbol-45px me-5">
                            <img src="./assets/media/logo/favicon.png" alt="Stromify" />
                        </div>
                        <div class="d-flex justify-content-start flex-column">
                            <a class="text-gray-900 fw-bolder text-hover-primary fs-6" [routerLink]="['/anfrage-anzeigen/' + anfrage.anfrageID + '/anfrageparameter']">
                                {{ anfrage.firma }}
                            </a>
                            <span class="text-muted fw-bold text-muted d-block fs-7">
                                {{ anfrage.anzahlLieferstellen}} Lieferstellen
                            </span>
                        </div>
                    </div>
                </td>

                <td>
                    <div class="d-flex align-items-center">
                        <div class="d-flex justify-content-start flex-column">
                            <a class="text-gray-900 fw-bolder text-hover-primary fs-6" [routerLink]="['/anfrage-anzeigen/' + anfrage.anfrageID + '/anfrageparameter']">
                                {{ anfrage.lieferbeginn }}
                            </a>
                            <span class="text-muted fw-bold text-muted d-block fs-7">
                                Angefragt: {{ anfrage.anfragezeit}}
                            </span>
                        </div>
                    </div>
                </td>

                <td class="text-end">
                    <div class="d-flex flex-column w-100 me-2">
                        <div class="d-flex flex-stack mb-2">
                            <span class="text-muted me-2 fs-7 fw-bold">{{anfrage.fortschritt}}</span>
                        </div>
                        <div class="progress h-6px w-100">
                            <div class="progress-bar bg-{{anfrage.style}}" role="progressbar" [style.width]="anfrage.fortschritt + '%'"></div>
                        </div>
                    </div>
                </td>

                <td>
                    <div class="d-flex justify-content-end flex-shrink-0">
                        <button type="button" class=" btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1" [routerLink]="['/anfrage-anzeigen/' + anfrage.anfrageID + '/anfrageparameter']" *ngIf="true">
                            <span [inlineSVG]=" './assets/media/icons/duotune/general/gen019.svg' " class="svg-icon svg-icon-3"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
            <!-- end::Table body -->
        </table>
        <!-- end::Table -->
    </div>
    <!-- end::Table container -->
</div>
<!-- begin::Body -->
</div>
