<div class="d-flex ms-3">
    <!--// WENN AGENT-->
    <ng-container *ngIf="isAgent$ | async">
        <span class="badge bg-warning text-dark ms-2">Agent View</span>
    </ng-container>
    <!--// WENN NICHT AGENT-->
    <ng-container *ngIf="!(isAgent$ | async)">
        <a class="btn btn-flex flex-center bg-body btn-color-gray-700 btn-active-color-primary w-40px w-md-auto h-40px px-0 px-md-6" routerLink="/anfrage-anlegen/">
            <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'"
              class="svg-icon svg-icon-2 svg-icon-primary me-0 me-md-2"></span>
            <span class="d-none d-md-inline">Neue Anfrage</span>
        </a>
    </ng-container>
</div>

<!-- begin::Theme mode -->
<app-theme-mode-switcher class="d-flex align-items-center ms-3"
  toggleBtnClass="btn btn-icon btn-primary w-40px h-40px pulse pulse-white">
</app-theme-mode-switcher>
<!-- end::Theme mode -->
