<!--begin::Tasks-->
<div class="mx-5">
  <!--begin::Header-->
  <h3 class="fw-bolder text-gray-900 mb-10 mx-0">
    Anfrageübersicht
  </h3>
  <!--end::Header-->

  <!--begin::Body-->
  <div class="mb-12">
    <!--begin::Item-->
      <ng-container *ngFor="let anfrage of anfragen$ | async">
          <div class="d-flex align-items-center mb-7 btn" routerLinkActive="bg-light-primary" routerLink="/anfrage-anzeigen/{{anfrage.id}}/anfrageparameter">
          <!--begin::Symbol-->
            <div class="symbol symbol-50px me-5">
            <span class="symbol-label bg-light-{{color}}">
              <span [inlineSVG]="icon" class="svg-icon-2x svg-icon-{{color}}"></span>
            </span>
          </div>
          <!--end::Symbol-->

          <!--begin::Text-->
          <div class="d-flex flex-column">
            <a class="text-gray-800 text-hover-primary fs-6 fw-bold">
              {{anfrage.anfrageBezeichnung}}</a>
            <span class="text-muted fw-bold">Ab {{anfrage.lieferbeginn}}</span>
          </div>
          <!--end::Text-->
        </div>
        <!--end::Item-->
    </ng-container>
  </div>
    <div class="mx-5">
        <div class="text-center pt-10 mb-20">
            <a class="btn btn-primary" routerLink="/anfrage-anlegen">Lieferanfrage stellen</a>
        </div>
    </div>
  <!--end::Body-->
</div>
<!--end::Tasks-->
