<!--begin::Menu-->
<div
        class="menu menu-column menu-fit menu-rounded menu-title-gray-600 menu-icon-gray-500 menu-state-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500 fw-bold fs-5 px-6 my-5 my-lg-0"
        id="kt_aside_menu" data-kt-menu="true">

    <div id="kt_aside_menu_wrapper" class="menu-fit">
        <!-- Separator -->
        <div class="menu-item">
            <div class="menu-content pt-8 pb-2">
                <span class="menu-section text-muted text-uppercase fs-8 ls-1">Stromify Agent</span>
            </div>
        </div>

        <!-- Dashboard -->
        <div class="menu-item" *ngIf="environment.featureFlipper.dashboardMenuItem">
            <a class="menu-link without-sub" routerLink="/dashboard" routerLinkActive="active"><span class="menu-icon">
          <span [inlineSVG]="'./assets/media/icons/duotune/general/gen025.svg'" class="svg-icon svg-icon-2"></span>
        </span>
                <span class="menu-title" translate="MENU.DASHBOARD"></span></a>
        </div>

        <!-- Partnerprofile -->
        <div class="menu-item">
            <a class="menu-link without-sub" routerLink="/agent/partnerprofile-liste" routerLinkActive="active">
              <span class="menu-icon">
                <span [inlineSVG]="'./assets/media/icons/duotune/files/fil010.svg'" class="svg-icon svg-icon-2"></span>
              </span>
                <span class="menu-title" translate="MENU.PARTNERPROFILE"></span>
            </a>
        </div>
    </div>
</div>
