<div class="pb-10 pb-lg-15">
  <h2 class="fw-bolder text-gray-900">Lieferstellen</h2>
  <div class="text-gray-500 fw-bold fs-6">
    Welche Lieferstellen sollen versorgt werden?
    <a href="#" class="link-primary fw-bolder"> Hilfe</a>.
  </div>
</div>
<div [formGroup]="form">
  <div class="mb-10 fv-row">
    <label class="fs-4 fw-bold d-flex align-items-center form-label mb-3 required">
      Anzahl der Lieferstellen
        <i class="fas fa-exclamation-circle ms-2 fs-7" ngbTooltip="Wie viele Lieferstellen sollen versorgt werden?"></i>
    </label>
    <div class="row mb-2" data-kt-buttons="true">
      <div class="col">
        <input formControlName="anzahlLieferstellen" type="radio" class="btn-check" id="anzahlLieferstellen_1" value="1-1"/>
        <label class=" btn btn-outline btn-outline-dashed btn-outline-default w-100 p-4" for="anzahlLieferstellen_1">
          <span class="fw-bolder fs-3">1-1</span>
        </label>
      </div>
      <div class="col">
        <input formControlName="anzahlLieferstellen" type="radio" class="btn-check" id="anzahlLieferstellen_2" value="2-10"/>
        <label class=" btn btn-outline btn-outline-dashed btn-outline-default w-100 p-4" for="anzahlLieferstellen_2">
          <span class="fw-bolder fs-3">2-10</span>
        </label>
      </div>
      <div class="col">
        <input formControlName="anzahlLieferstellen" type="radio" class="btn-check" id="anzahlLieferstellen_3" value="11-50"/>
        <label class=" btn btn-outline btn-outline-dashed btn-outline-default w-100 p-4" for="anzahlLieferstellen_3">
          <span class="fw-bolder fs-3">11-50</span>
        </label>
      </div>
      <div class="col">
        <input formControlName="anzahlLieferstellen" type="radio" class="btn-check" id="anzahlLieferstellen_4" value="50+"/>
        <label class=" btn btn-outline btn-outline-dashed btn-outline-default w-100 p-4" for="anzahlLieferstellen_4">
          <span class="fw-bolder fs-3">51+</span>
        </label>
      </div>
    </div>
    <div class="form-text">
      Eine Lieferstelle / Anschlussobjekt darf mehrere Zählpunkte (MeLo / MaLo) umfassen
    </div>
  </div>
  <div class="mb-10 fv-row">
    <label class="fs-4 fw-bold form-label mb-3">Ihre interne Bezeichnung der Anfrage</label>
    <input formControlName="anfrageBezeichnung" type="text" class="form-control form-control-lg form-control-solid" placeholder="Anfragebezeichnung"/>
    <div
      *ngIf="
        form.get('anfrageBezeichnung')?.hasError('required') &&
        form.get('anfrageBezeichnung')?.touched
      "
      class="fv-plugins-message-container invalid-feedback">

      Interne Bezeichnung ist notwendig
    </div>
  </div>

    <div class="mb-0 fv-row">
        <label class="fs-4 fw-bold d-flex align-items-center form-label mb-5 required">
            Weitere Informationseingabe<i
                class="fas fa-exclamation-circle ms-2 fs-7"
                ngbTooltip="Zur Erstellung eines Angebotes werden fortfolgende weitere Inforamtionen benötigt (z.B. Malo, Melo, Lastgangdaten)">
        </i>
        </label>
        <div class="mb-0">
            <label class="d-flex flex-stack mb-5 cursor-pointer">
                <span class="d-flex align-items-center me-2">
                  <span class="symbol symbol-50px me-6">
                    <span class="symbol-label">
                      <app-keenicon name="bank" class="fs-1"></app-keenicon>
                    </span>
                  </span>
                  <span class="d-flex flex-column">
                    <span class="fw-bolder text-gray-800 text-hover-primary fs-5">
                      per Online-Plattform
                    </span>
                    <span class="fs-6 fw-bold text-gray-500">
                      In unserem Online-Portal werden notwendige Informationen ergänzt (Melo, Malo, Adressen, Lastgangdaten)
                    </span>
                  </span>
                </span>
                <span class="form-check form-check-custom form-check-solid">
                    <input formControlName="informationsergaenzung" class="form-check-input" type="radio" value="online"/>
                </span>
            </label>
            <label class="d-flex flex-stack mb-5 cursor-pointer">
                <span class="d-flex align-items-center me-2">
                  <span class="symbol symbol-50px me-6">
                    <span class="symbol-label">
                      <app-keenicon name="chart" class="fs-1"></app-keenicon>
                    </span>
                  </span>
                  <span class="d-flex flex-column">
                    <span class="fw-bolder text-gray-800 text-hover-primary fs-5">
                      per letzter Rechnung(en)
                    </span>
                    <span class="fs-6 fw-bold text-gray-500">
                      Informationen werden aus der vergangenen Rechnung extrahiert
                    </span>
                  </span>
                </span>
                <span class="form-check form-check-custom form-check-solid">
                    <input formControlName="informationsergaenzung" class="form-check-input" type="radio" value="rechnung"/>
                </span>
            </label>
            <label class="d-flex flex-stack mb-0 cursor-pointer">
                <span class="d-flex align-items-center me-2">
                  <span class="symbol symbol-50px me-6">
                    <span class="symbol-label">
                      <app-keenicon name="chart-pie-4" class="fs-1"></app-keenicon>
                    </span>
                  </span>
                  <span class="d-flex flex-column">
                    <span class="fw-bolder text-gray-800 text-hover-primary fs-5">
                      Per Video-Konferenz
                    </span>
                    <span class="fs-6 fw-bold text-gray-500">
                      Wir sprechen digital über die notwendigen Informationen und nächste Schritte
                    </span>
                  </span>
                </span>
                <span class="form-check form-check-custom form-check-solid">
                    <input formControlName="informationsergaenzung" class="form-check-input" type="radio" value="video"/>
                </span>
            </label>
        </div>
    </div>

</div>
