<!-- begin::Header -->

<div class="card card-xl-stretch- mb-xl-8">
    <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-bolder fs-3 mb-1">Partnerprofile</span>
        </h3>
        <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover" title="Click to add a user">
            <a class="btn btn-sm btn-light-primary" [routerLink]="['/agent/partnerprofil-anlegen/']"><span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'" class="svg-icon svg-icon-3"></span>
                Neues Partnerprofil
            </a>
        </div>
    </div>
    <!-- end::Header -->
    <!-- begin::Body -->
    <div class="card-body py-3">
        <!-- begin::Table container -->
        <div class="table-responsive">
            <!-- begin::Table -->
            <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                <!-- begin::Table head -->
                <thead>
                    <tr class="fw-bolder text-muted">
                        <th class="min-w-150px">Email</th>
                        <th class="min-w-140px">Firma & Name</th>
                        <th class="min-w-120px">Kunde</th>
                        <th class="min-w-120px">Erstellt</th>
                        <th class="min-w-100px text-end">Schnellaktion</th>
                    </tr>
                </thead>
                <!-- end::Table head -->
                <!-- begin::Table body -->
                <tbody>
                <tr *ngFor="let partnerprofil of partnerprofile$ | async">
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="d-flex justify-content-start flex-column">
                                <a class="text-gray-900 fw-bolder text-hover-primary fs-6" [routerLink]="['/anfragen-liste']" [queryParams]="{ partnerprofil: partnerprofil.partnerprofilID }">
                                    {{ partnerprofil.email }}
                                </a>
                                <span class="text-muted fw-bold text-muted d-block fs-7">
                                    ID: {{ partnerprofil.partnerprofilID}}
                                </span>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="d-flex align-items-center">
                            <div class="symbol symbol-45px me-5">
                                <img src="./assets/media/logo/favicon.png" alt="Stromify" />
                            </div>
                            <div class="d-flex justify-content-start flex-column">
                                <a class="text-gray-900 fw-bolder text-hover-primary fs-6">
                                    {{ partnerprofil.firma }}
                                </a>
                                <span class="text-muted fw-bold text-muted d-block fs-7">
                                    {{ partnerprofil.vorname}} {{ partnerprofil.nachname}}
                                </span>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="d-flex align-items-center">
                            <div class="d-flex justify-content-start flex-column">
                                <a class="text-gray-900 fw-bolder text-hover-primary fs-6">
                                    {{ partnerprofil.kunde }}
                                </a>
                                <span class="text-muted fw-bold text-muted d-block fs-7">
                                    Aktiviert: {{ partnerprofil.kundeAktiviert}}
                                </span>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="d-flex align-items-center">
                            <div class="d-flex justify-content-start flex-column">
                                <a class="text-gray-900 fw-bolder text-hover-primary fs-6">
                                    {{ partnerprofil.erstellt }}
                                </a>
                                <span class="text-muted fw-bold text-muted d-block fs-7">
                                    Bearbeitet: {{ partnerprofil.bearbeitet}}
                                </span>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="d-flex justify-content-end flex-shrink-0">
                            <a type="button" class="btn btn-bg-light btn-active-color-primary btn-sm me-1" [routerLink]="['/account/partnerprofil-anzeigen']" [queryParams]="{ partnerprofil: partnerprofil.partnerprofilID }">
                                <span [inlineSVG]=" './assets/media/icons/duotune/general/gen019.svg' " class="svg-icon svg-icon-3"></span>
                                Partnerprofil
                            </a>
                            <a type="button" class="btn btn-bg-light btn-active-color-primary btn-sm me-1" [routerLink]="['/anfragen-liste']" [queryParams]="{ partnerprofil: partnerprofil.partnerprofilID }">
                                <span [inlineSVG]=" './assets/media/icons/duotune/general/gen019.svg' " class="svg-icon svg-icon-3"></span>
                                Anfragen
                            </a>
                            <div class="me-0">
                                <button class=" btn btn-sm btn-icon btn-bg-light btn-active-color-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
                                    <i class="bi bi-three-dots fs-3"></i>
                                </button>

                                <div data-kt-menu="true" class="px-7 py-5 menu menu-sub menu-sub-dropdown w-250px w-md-300px">
                                    <div class="fs-5 text-gray-900 fw-bolder">Weitere Optionen</div>

                                    <div class="separator border-gray-200"></div>

                                    <div class="px-7 py-5"></div>

                                    <div class="mb-10">
                                        <label class="form-label fw-bold">Kategorie</label>

                                        <div class="d-flex">
                                            <label class="form-check form-check-sm form-check-custom form-check-solid me-5">
                                                <input class="form-check-input" type="checkbox" [checked]="partnerprofil.kunde" (change)="onKategorieChange($event, partnerprofil, 'kunde')" />
                                                <span class="form-check-label">Kunde</span>
                                            </label>

                                            <label class="form-check form-check-sm form-check-custom form-check-solid">
                                                <input class="form-check-input" type="checkbox" [checked]="partnerprofil.lieferant" (change)="onKategorieChange($event, partnerprofil, 'lieferant')" />
                                                <span class="form-check-label">Lieferant</span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="mb-10">
                                        <label class="form-label fw-bold">Emails:</label>
                                         <div class="form-check form-switch form-switch-sm form-check-custom form-check-solid">
                                             <input class="form-check-input" type="checkbox" [checked]="partnerprofil.emailAktiviert" (change)="onEmailAktiviertChange($event, partnerprofil)" />
                                             <label class="form-check-label">Aktiviert</label>
                                         </div>
                                    </div>

                                    <div class="d-flex justify-content-end">
                                          <button type="button" class="btn btn-sm btn-warning" data-kt-menu-dismiss="true" (click)="onDelete(partnerprofil)">
                                              Löschen
                                          </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
                <!-- end::Table body -->
            </table>
            <!-- end::Table -->
        </div>
        <!-- end::Table container -->
    </div>
<!-- begin::Body -->
</div>
