<div class="card border border-2 border-gray-300 border-hover">
  <div class="card-header border-0 pt-9">
    <div class="card-title m-0 fs-3 fw-bolder text-gray-900">
        Melo: {{ messlokationID }}
    </div>

    <div class="card-toolbar">
        <a [routerLink]="['/messlokation-lastkurve/' + id]" class="btn btn-sm btn-light cursor-pointer me-2">
            <span [inlineSVG]="'./assets/media/icons/duotune/graphs/gra003.svg'" class="svg-icon svg-icon-3"></span>
        </a>
        <a [routerLink]="['/messlokation-anlegen/' + id]" class="btn btn-sm btn-light cursor-pointer">
            <span [inlineSVG]="'./assets/media/icons/duotune/coding/cod001.svg'" class="svg-icon svg-icon-3"></span>
        </a>
    </div>
  </div>

  <div class="card-body p-9">
    <p class="text-gray-500 fw-bold fs-5 mt-1 mb-7">
        {{ strasse }} {{ hausnummer }} <br>
        {{ plz }} {{ stadt }}
    </p>

    <div class="d-flex flex-wrap mb-5">
        <div class=" border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-7 mb-3">
            <div class="fs-6 text-gray-800 fw-bolder">{{ jahresverbrauch_kWh }}</div>
            <div class="fw-bold text-gray-500">Jahresverbrauch (kWh)</div>
        </div>

        <div class=" border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 mb-3">
            <div class="fs-6 text-gray-800 fw-bolder">{{ spitzenlast_kW }}</div>
            <div class="fw-bold text-gray-500">Spitzenlast (kW)</div>
        </div>

        <div class=" border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 mb-3">
            <div class="fs-6 text-gray-800 fw-bolder">{{ profil }}</div>
            <div class="fw-bold text-gray-500">Spitzenlast (kW)</div>
        </div>
    </div>

    <div class="mb-5" ngbTooltip="Status">
        <span class="badge fw-bolder me-auto px-4 py-3" [ngClass]="'badge-light-' + farbe">
            {{ status }}
        </span>
    </div>
    <div class="h-4px w-100 bg-light mb-5" ngbTooltip="Status">
        <div class="rounded h-4px" [ngClass]="'bg-' + farbe" role="progressbar" [style.width]="fortschritt + '%'"></div>
    </div>
  </div>
</div>
